.contact {
    margin-bottom: 20px;
}

.contact-text {
    color: #cfcfcf;
    font-family: "Poppins", sans-serif;
    font-size: 20px;

    @media (max-width: 500px) {
        font-size: 14px;
    }
}

.contact-icon {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.contact-icon > a {
    margin: 0 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 500px) {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 10px;
    }
}

.contact-icon>a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
