.contact {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    padding-bottom: 30px;
    box-shadow: 1px 3px 20px 0px black;
}

.contact-text {
    color: #cfcfcf;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.contact-icon {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.contact-icon > a {
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.contact-icon > a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
