@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);

@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

.star:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f005"
}

.home-name {
  width: 100%;
  text-align: center;
  padding: 50px;
}

h1, h3 {
  transform: matrix(1, -0.20, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

h1 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;

    @media (max-width: 900px) {
        font-size: 50px;

        @media (max-width: 400px) {
            font-size: 30px;
        }
    }
}

h1 span {
  display: inline-block;
  vertical-align: middle;
  @media (max-width: 400px) {
    font-size: 24px;
  }
}

span.star {
  font-size: 20px;
}

h3 {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;  
  position: relative;

    @media (max-width: 400px) {
        font-size: 15px;
    }
}

h3:before, h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}

h3:before {
  margin: 5px 0 0 -110px;
}

h3:after {
  margin: 5px 0 0 10px;
}



.developer {
    margin-top: 20px;
}

/* Efeito 3D */
.social-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.social-icon:hover::before {
    transform: translateY(0);
}


.social-icons {
    text-align: center;
    margin-top: 30px;
}

.social-icons>a {
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 400px) {
        margin: 0 12px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
}

.social-icons>a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.social-icons>a.whatsapp:hover {
    background-color: #307d24;
}

.social-icons>a.instagram:hover {
    background-color: #e1306c;
}

.social-icons>a.linkedin:hover {
    background-color: #0077b5;
}

.social-icons>a.github:hover {
    background-color: #5b135a;
}
