.projects-card {
    display: flex;
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
    padding: 12px;
    box-shadow: 1px 3px 20px 0px black;
    align-items: center;
}

.project-image img {
    width: 80%;
}

.project-text {
    width: 90%;
}

.project-text h3 {
    color: gray;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.project-tech{
    text-align: center;
}

.project-tech i{
    font-size: 26px;
    margin-right: 10px;
    transition: all 0.3s;
}

.project-tech img{
    width: 25px;
}

.project-button {
    text-align: center;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}