.horizontal-title h4, .vertical-title h4{
    color: rgb(255, 245, 245);
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.horizontal, .vertical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }
}
